[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
autoenv = "*"
pylint-flask = "*"
marshmallow = "*"
"psycopg2" = "*"
gunicorn = "*"
eventlet = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
flask-cors = "*"
pillow = "*"

[requires]
python_version = "3.6"
